.table {
  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    &-club {
      justify-content: start;
    }
    &-points {
      font-weight: bold;
      color: #000;
    }
  }
}

.el-table .champions-league {
  --el-table-tr-bg-color: var(--el-color-success-light-9);
}

.el-table .europe-league {
  --el-table-tr-bg-color: var(--el-color-primary-light-9);
}

.el-table .conference-league {
  --el-table-tr-bg-color: var(--el-color-warning-light-9);
}

.el-table .championship {
  --el-table-tr-bg-color: var(--el-color-error-light-9);
}
